.containerUnlogged {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #232323;
}

.titleUnlogged {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.buttonUnlogged {
  background-color: #232323;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #fff;
}

.buttonUnlogged:hover {
  background-color: #fff;
  color: #232323;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 5rem;
  background-color: #232323;
  color: white;
}
